.home{
    
}

.home form{
    display: flex;
    flex-direction: column;
}

.home form > *{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    margin: 1em 0;
}

.home form .mode-switch{
    
}

.home form .mode-switch > *{
    padding: 0.8em;
    outline: 1px solid darkblue;
    cursor: pointer;
}

.home form input[type="text"]{
    width: 80%;
}

.home form .submit-group button {
    width: 10em;
    height: 10em;
    background-color: hsl(0, 0%, 87%);
    border: 0;
    outline: 1px solid hsl(0, 0%, 42%);
}