.post-an-ad form{
    display: flex;
    flex-direction: column;
}

.post-an-ad form > *{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    margin: 1em 0;
}

.post-an-ad form .mode-switch{
    
}

.post-an-ad form .mode-switch > *{
    padding: 0.8em;
    outline: 1px solid darkblue;
    cursor: pointer;
}

.post-an-ad form input[type="text"]{
    width: 80%;
}

.post-an-ad .mode-switch label.give{
    background-color: hsl(118, 38%, 74%);
}

.post-an-ad .mode-switch label.need{
    background-color: hsl(208, 38%, 74%);
}

.post-an-ad button{
    position: relative; top: 0; left: 1em; width: 5em; height: 2em;
}