body {

  padding-top: 10px;

}

.tab.active{
    font-weight: bold;
}

.fa-star.active{
    color: yellow;
}


.border{
    outline: solid 1px black;
}

.colorBlock.border{
    width: 18px;
    height : 18px ;
    
}

.open {
    color: green;
}

.closed {
    color: red;
}


/*dl{
    display : inline-block;
}*/
.parent{
    display: inline-flex;
    align-content: flex-start;
}
.inline{
   display: inline-block;
}

.colorBlock{
    width : 20px;
    height: 20px;
}
.grayFont{
    background-color: darkgray;
}
.greenFont{
    background-color: green;
}

.yellowFont{
    background-color: yellow;
}

.orangeFont{
    background-color: orange;
}

.redFont{
    background-color: red;
}

.grayText{
    color : darkgray;
}

.greenText{
    color: green;
}

.yellowText{
    color:  yellow;
}

.orangeText{
    color: orange;
}

.redText{
    color: red;
}