.rcs{
	display: inline-block;
	cursor: pointer;
}

.rcs .selected{
	font-weight: bold;
}

.rcContent{
    display: inline-block;
    vertical-align: top;
}

.level{
    display: inline-block;
    width : 10px;
    height: 10px;
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}
.red{
    background-color: red;
}