.activity .filter{
    display: flex;
    justify-content: center;
}

.activity .filter > *{
    padding: 0.8em;
    outline: 1px solid darkblue;
    cursor: pointer;
}

.activity .filter label.give{
    background-color: hsl(118, 38%, 74%);
}

.activity .filter label.need{
    background-color: hsl(208, 38%, 74%);
}

.activity form input[type="search"]{
    width: 100%;
}

.activity form h1{
    font-size: 1.5em;  
    text-align: center;
}


.activity .activity-items{
    list-style: none;
}
.activity .activity-items li{
    padding: 1em;
}

.activity .activity-items li header{
    height: 100%;
    width: 100%;
    
    display: flex;
    align-items: center;
}

.activity .activity-items li header *{
    margin: 0 1em;
}

.activity .activity-items li h1{
    font-size: 1em;
    margin: 0;
    padding: 0;
    flex-grow: 100; /* take all the remaining space */
}

.activity .activity-items li.give{
    background-color: hsl(118, 38%, 74%);
}
.activity .activity-items li.need{
    background-color: hsl(204, 38%, 74%);
}

.activity .activity-items li .private{
    margin: 0.2em;
    outline: 1px solid grey;
    min-width: 3em;
    min-height: 1em;
}
.activity .activity-items li .private::before{
    content: ' ';
}





