.home{
    
}

.home > *{
    display: flex;
    flex-direction: column;
}

.home > * > *{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    margin: 1em 0;
}

.home .mode-switch{
    
}

.home .mode-switch > *{
    padding: 0.8em;
    outline: 1px solid darkblue;
    cursor: pointer;
}

.home .mode-switch label.give{
    background-color: hsl(118, 38%, 74%);
}

.home .mode-switch label.need{
    background-color: hsl(208, 38%, 74%);
}

.home input[type="text"]{
    width: 80%;
}

.home .submit-group button {
    width: 10em;
    height: 10em;
    background-color: hsl(0, 0%, 87%);
    border: 0;
    outline: 1px solid hsl(0, 0%, 42%);
}