{
    rules: {
        eqeqeq: 2,
        dot-notation: 0,
        no-shadow: 1,
        curly: 0,
        no-use-before-define: [
            2,
            "nofunc"
        ],
        no-native-reassign: 1,
        no-process-exit: 0,
        no-func-assign: 1,
        eol-last: 1,
        no-trailing-spaces: 1,
        semi-spacing: 1,
        new-cap: [
            2,
            {
                capIsNewExceptions: [
                    "React"
                ]
            }
        ],
        semi: 2,
        quotes: [1, "single"],
        no-trailing-spaces: 0,
        no-multi-spaces: 0,
        space-infix-ops: 0,
        no-underscore-dangle: 0,
        key-spacing: 0,
        camelcase: 0,
        no-extra-strict: 0,
        no-spaced-func: 0,
        consistent-return: 0,
        no-loop-func: 1,
        no-console: 0,
        no-redeclare: 1,
        func-style: [2, "declaration"]
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true
    },
    "plugins": [
        "react"
    ]
}