*.DS_Store
*.dat
*.vec
*.pyc
*.pdf
*.doc
*.doc#
*.log

node_modules

*browserify-bundle.js

Tokens.json
PRIVATE.json

data/*.json
!data/dictionary.json
!data/networks.json


# files generated for server-side purposes

src/views/*.js