

.alternatives{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.alternatives header{
    position: static;
}
.alternatives header .adapt-width{
    height: 100%;
}

.alternatives main{
    height: 95%;
    position: relative;
}

.alternatives main #map{
    height: 100%;
}

.alternatives main #sources {
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 0px;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    background-color: rgba(255, 255, 255, 0.9);
    border: solid #ff6666 1px;
}

.alternatives main #sources #uncertified,
.alternatives main #sources #certified
{
    height: 40px;
    width: 150px;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    border: none;
}

.alternatives main #sources #uncertified {
    border-top-left-radius:5px;
}

.alternatives main #sources #certified {
    border-top-right-radius:5px;
}

.alternatives main #sources .btn-inactive {
    background-color: #ff6666;
    color: #FFFFFF;
}

.alternatives main #sources .btn-active {
    color: #ff6666;
    background-color: #FFFFFF;
}

.alternatives main #filters{
    position: absolute;
    top: 50px;
    bottom: 0px;
    right: 10px;
    width: 290px;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.9);
}

.alternatives main #filters li{
    padding: 1em;
    cursor: pointer;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 8; /* to be over leaflet credits */
}

.alternatives #sources #filters li:hover{
    background-color: rgba(240, 240, 240, 1);
}

.alternatives #sources #filters li.disabled{
    opacity: 0.5;
    text-decoration: line-through;
    background-color: rgb(230, 230, 230);
}

.alternatives #sources #filters li .color{
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: block;
    padding-right: 1em;
}

.alternatives #sources #filters li .text{
    margin-left: 1em;
}

#preview .adapt-width{
    height: 55px;
    background-color: white;
}