
 /*
  http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
*, *:before, *:after {
    box-sizing: border-box;
    /* if you really care about older browsers, add prefixed versions at your own risks */
}

/*
  Repeating the background mostly makes sense in the <body>. Otherwise, people usually want the image and preferably its center (not the top-right corner)
*/

*:not(body) {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/*
  Makes the hidden attribute works even when an element is styled display: flex
  http://lists.whatwg.org/pipermail/whatwg-whatwg.org/2014-May/254198.html
*/
[hidden] {
    display: none !important;
}


html, body {
    padding: 0;
    margin: 0;
}

body{
    position: relative;
}

/*
  In applications, there can be lists but HTML lists have bullet points and a bunch of useless styling attributes 
*/
ul, ol, menu {
    margin: 0;
    padding: 0;

}

ul, menu {
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}

* {
    border-collapse: collapse;
    font-family: 'Raleway', sans-serif;
}

.table-layout {
    display: table;
}
.table-layout > * {
    display: table-row;
}
.table-layout > * > *{
    display: table-cell;
    vertical-align: top;
}

#spinner{
    background-color: white;
    opacity: 0.9;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s;
}

#waiting{
    position: absolute;
    bottom: 35%;
    width: 100%;
    size: 3em;

    text-align: center;
}


