/* Google Material colors
Pink700: #C2185B
Grey50:  #FAFAFA
Grey100: #F5F5F5
Grey400: #BDBDBD
Grey700: #616161
BlueGrey50: #ECEFF1
*/

*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
}

body{
    font-family: Lato, sans-serif;
    margin: 0px;
}
ul, ol, menu, li {
    margin: 0;
    padding: 0;
}
ul, menu {
    list-style: none;
}


button:focus {
	outline: none !important;
}

button {
  cursor: pointer;
}

header .adapt-width{
	display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #BDBDBD;
}

.adapt-width{
	max-width: 45em;
	margin: 0 auto;
}

.overflow{
	overflow: scroll;
	-webkit-overflow-scrolling: touch; 
}

header, nav{
	z-index: 2;
	position:fixed;
	width: 100%;
	background-color: #F5F5F5;
}
header{
	top: 0;
	height: 40px;
}
nav{
	bottom: 0;
	height: 55px;
}
#logo{
	color: #E400B9;
	margin-top: 2px;
	margin-left: 5px;
	background-color: #BDBDBD;
	float: left;
	text-decoration: none;
	vertical-align: middle;
	font-size: 18px;
}
#navigation{
	height: 55px;
	background-color: #616161; 
}
.btn-recycling-center {
	margin: 2px;
	height: 50px;
	border: none;
	text-shadow: 0px 0px #000000;
	vertical-align: bottom;
	background: none;
	font-size: 16px;
}
.btn-alternatives {
	margin: 2px;
	height: 50px;
	border: none;
	vertical-align: bottom;
	background: none;
	font-size: 16px;
}
.btn-active{
	color: #FFFFFF;	
}
.btn-inactive{
	color: #BDBDBD;	
}

article{
	z-index: 1;
	position: fixed;
	background-color: #FAFAFA;
	top: 40px;
	bottom: 0px;
	width: 100%;
}

article .adapt-width{
	height: 100%;
}

#back img{
	margin-top: 2px;
	margin-left: 5px;
	height: 35px;
	background-color: #BDBDBD;
	float: left;
}
#searchbar{
	height: 100%;
	text-align: right; 
}
#searchbar input{
	width: 300px;
	vertical-align: middle;
	height: 30px;
	margin: 5px;
	border: solid 1px #E400B9;
	font-size: 15px;
	background: #ffffff url('../img/search.svg') no-repeat left top;
	padding-left:27px;
	color: #616161;
}
@media screen and (max-width: 400px) {
	#searchbar input {
		width: 250px;
	}
}
#sheet{
	height: 100%;
	display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
}
#location{
	margin: 0;
	padding: 20px;
	text-align: center;
	background-color: #FFFFFF; 	
}
#location button {
	width: 170px;
	vertical-align: middle;
	height: 40px;
	margin: 5px;
	border: solid 1px #BDBDBD;
	font-size: 15px;
	background-color: #F5F5F5;
	padding-left:27px;
	color: #E400B9;
}
.btn-favorite {
	background: #ffffff url('../img/favorite.svg') no-repeat left center;
}
.btn-locate {
	background: #ffffff url('../img/locate.svg') no-repeat left center;
}
#errorposition{
	color: #ff4500;
	margin: 5px;
	font-size: 12px;
}

#mvp{
	-webkit-display: flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
	height: 100%;
    flex-grow: 20;
}

#mvp.RC {
	background: #ffffff url('../img/decheterie.jpg') no-repeat left center;
}
#mvp.PAV {
	background: #ffffff url('../img/alternatives.jpg') no-repeat left center;
}

#mvp p {
	text-align: center;
	color: black;
	width: 100%;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.7); 	
}

@media screen and (max-width: 320px) {
	#mvp p {
		font-size: 14px;
	}
}
@media screen and (min-width: 320px) and (max-width: 640px) {
	#mvp p {
		font-size: 18px;
	}
}
@media screen and (min-width: 640px) {
	#mvp p {
		font-size: 23px;
	} 
}

.no-results {
	height: 50px;
	padding: 10px;
	text-align: center;
}

#places {
	width: 100%;
	max-width: 700px;
	background-color: #FAFAFA;
	top: 40px;
	bottom: 0px;
}

.place{
	width: 100%;
	background-color: #FFFFFF;
	display:inline-block;
	margin-top: 10px;
	border: solid 1px #F5F5F5;
	box-shadow: 2px 2px 1px #BDBDBD;
}

.place-header{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    vertical-align: middle;
}

.place-header li{
	float: left;
}

.place-avatar,
.place-title,
.place-infos,
.place-favorite,
.place-no-favorite,
.place-available{
	display: block;
    text-align: left;
    border: none;
    background: none;
    vertical-align: middle;
}
.place-infos,
.place-favorite,
.place-no-favorite,
.place-available{
    padding: 10px 5px;
    border: none;
}

.place-avatar {
	border-radius: 100%; 
	height: 40px;
	width: 40px;
	margin: 5px;
    padding: 10px 10px;
}
@media screen and (max-width: 400px) {
	.place-avatar,
	.place-header > li:first-child {
		width: 0;
		padding: 0;
		margin: 0;
	}
}

.place-title {
	width: 230px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 16px;
    padding: 10px 10px;
}
.place-subtitle {
	color: #616161;
	font-size: 14px;
}
.panel-active{
	display: block;
}
.panel-hidden {
	display: none;
}

.place-no-infos {
	float: right;
}
.clearfix {
    overflow: auto;
}
.coordinates {
	display: table;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	margin-bottom: 20px; 
}
.address,
.opening_hours {
	display: table-cell;
	width: 50%;
	padding: 0 10px;
	background-size: 100px 100px;
	background-repeat: no-repeat;
	background-position: center center;
	font-size: 14px;
}
.address{
	background-image: url("../img/gps_fixed.svg");
}
.opening_hours{
	background-image: url("../img/access_time.svg");
}

.bins{
	text-align: left;
	padding: 0px;
}
.bins ul{
	padding: 0px;
}
.bins li{
	list-style-type: none;
	margin: 5px;
	display: inline-block;
	padding: 5px;
	background-color: white;
	font-size: 14px;
}

.border-open {  border: solid #7fdc2b 2px; font-size: 15px; }
.border-closed { border: solid #ff3b6c 2px;  font-size: 15px; text-decoration : line-through;}
.border-grey { border: solid #616161 2px;  font-size: 15px;}

.chart {
	width: 100%;
	height: 100%;

}
.data{
	display: none;
	color: #FFFFFF;
	font-size: 1px;
	height: 0;
}
.disclaimer{
	margin: 5px;
	text-align: center;
	font-size: 12px;
	vertical-align: baseline;
	color: #616161;
}

#doorbell-button{
	color: #FFFFFF;
    background-color: #616161;
    right: -45px;
    bottom: 20%;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}