
#map{
    position: relative;
    height: 100vh;
    width: 100vw;
}

.ColorSwatches{
    padding: 1em;
    background-color: #FFF;
    opacity: 0.7;

    bottom: 10px;
    right: 20px;
    position: absolute;
    z-index: 1;

}

.ColorSwatch {
    margin-left: 1px;
    width: 15px;
    height: 15px;
    float: left; 
}

.SwatchTitle {
    text-align: center;
    margin-bottom: 5px;
}

.ColorMin {
    /*margin: 5px;*/
    margin-right: 20px;
    /*width: 15px;*/
    float: left; 
}

.ColorMax {
  /*  margin: 5px;*/
    margin-left: 10px;
    /*width: 15px;*/
    float: right; 
}