#panel {
	position: fixed;
	top: 0;
	right: 0;
	background-color: white;

	width: 25vw;
	height: 100%;
    
    overflow-x: scroll;

}

.line-chart{
	position: absolute;
	right: 0.3em;
	margin-top: 1em;
	margin-right: 0px;
}

.bar-chart{
	margin: 10px;
}

.radar-chart{
	margin: 30px 10px;
}


#cal-heatmap{
	width: 80%;
	margin: 2em auto;
}

/* TABS */
.tabs {
	position: relative;
	width: 100%;
	/*margin-bottom: 2em;*/
}

.tabs > div {
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: rgb(200, 200, 200);
	color: white;
	font-size: 0.8em;
	text-align: center;
	cursor: pointer;
	padding: 5px;

}

.tabs > div.focused {
	background-color: black;
}

/* CONTENT */

#buttons{
	display: flex;
	cursor: pointer;
}

#version-button{
	flex: 1;
	font-size: 0.8em;
	background-color: white;
	border: 1px black solid;
	border-right: none;
	padding: 5px;
	text-align: center;
}

#version-button.active{
	background-color: black;
	color: white;
}

#recyclingCenter-name {
	text-align: center;
	margin-top: 2em;
	font-size: 1em;
}

.recyclingCenter-icon {
	display: inline;
	margin: 0 0.5em;
	font-size: 1em;
}

#current-date {
	text-align: center;
	margin-top: 1em;
	font-size: 0.8em;
}

.legend{
	width: 100%;
	font-size: 0.7em;
}

.legend div{
	width: 50%;
	display: inline-block;
	text-align: center;
}

.obs{
	color: black;
}

.pred{
	color: rgb(220,50,50);
}

.metrics {
	width: 70%;
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 3em;
	font-size: 0.8em;
	text-align: center;
}

/* LOGO */

#logo{
	/*position: absolute;*/
	/*bottom: 2em;*/
	margin: 0 auto;
	width: 3em;
}

#logomap{
	position: absolute;
	background-color: white;
	opacity: 0.7;
	width: 6em;
	bottom: 0.5em;
	left: 0.5em;
	z-index: 1;
}
