
.creator {
	background-color: black;
	border-bottom: 1px solid white;
}

.creator div *{
	display: inline-block;
}

.creator ul *{
	display: inline-block;
	padding: 0.5em;
	text-align: center;
	color: white;
}

.creator li {
	margin: 0;
}

.creator form input {
	padding: .5rem;
	color: black;
}