/*
	1. boîte
	2. bordures
	3. arrière-plan
	4. texte
	5. transformations
	6. transitions
	7. le reste
*/

body{
    position: relative;
}

.clickable {
	cursor: pointer;
}

.clickable:hover{
	color: #00AAFF;
}

.modifiable {
	
	transition: all 0.2s ease-in-out;
}

.modifiable.clicked{
	padding: 0;
	border: none; outline: 1px solid rgba(81, 203, 238, 1);
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	cursor: default;
}

.modifiable:focus{
	outline-offset: 0;
}

li .modifiable{
	width: 23%;
}

.modifiable.phone-number{
	width: 50%;
}

.modifiable.sensorName{
	width: 40%;
}

.modifiable.updating {
	color: orange;
}

.selector {
	position: absolute; top: .5em; right: .5em;
}
.selector div{
	margin: 0 auto;
	padding: 0;
	text-align:center;
}
