/*
	1. boîte
	2. bordures
	3. arrière-plan
	4. texte
	5. transformations
	6. transitions
	7. le reste
*/

#placePanel{
    display: inline-block; position: relative; width: 78vw;
    background-color: #cbc6e1;
}

.place{
	display: inline-block; margin: 1em; padding: .5em; width: 30%; position: relative;
	border: 1px solid #AAA; border-radius: 5px;
	background-color: white;
}

.place .placeName {
	display: block; width: 100%; margin: 0 auto;
	font-weight: bold; font-size: 1.5em;
}

.coords > * {
	display: block; margin: 0 .5rem;
}

.coords > * > *{
	display: inline-block; width: 50%; 
	text-align: center;
}

.coords div:first-child > * {
	font-size: .7em;
}

.ant{
	display: block; margin: 1em 0; padding: .2rem; position: relative;
	border: 1px solid #444; border-radius: 5px;
	background-color: white;
	transition: background-color 1s;
}

.ant li {
	margin: 0; padding: .3rem .5em;
}

.ant li:first-child{
	border-radius: 5px 5px 0 0;
}

.ant li > * {
	display: block;
}

.ant li div > * {
	display: inline-block; margin: 0 .3rem;
}

.ant li div div:first-child{
	font-weight: 600;
}

.ant .sense > *{
	display: block;
}

.light{
	background-color: #EEE;
}

.dark{
	background-color: #DDD;
}

.ant.selected{
	background-color: #555;
}

.ant.updating {
	background-color: red;
}

.ant-selector {
	position: absolute; top: 3px; right: 3px;
}

.ant.sensorName {
	font-weight: bold;
}

.ant .uninstall {
    text-align: center;
    margin-top: 0.5rem;
}

/* quipu status */

.ant.uninitialized .quipu {
	color: orange;
}

.ant.initialized .quipu {
	color: black;
}

.ant.connected3g .quipu {
	color: #0B0;
}

.ant.tunnelling .quipu {
	color: blue;
}

/* 6sense status */

.ant .sense div.status,  .ant .sense div.settings{
	display: block; margin: 0 2rem;
}

.ant.sleeping .sense {
	color: #CCC;
}

.ant.monitoring .sense {
	color: #888;
}

.ant.recording .sense {
	color: black;
}

.add-ant-button {
	position: relative; margin: 0 auto; width: 70px; border-radius: 10px;
    text-align: center;
}

.place.orphan .name {
	display: block; width: 100%; margin: 0 auto;
	font-weight: bold; font-size: 1.5em;
}


.command-manager {
	position: fixed; padding: .5em; bottom: -6em; height: 5em; width: 100%;
	color: #DDD;
	background-color: #222;
	z-index: 3;
	transition: bottom .5s ease-in-out;
}

.command-manager.open {
	bottom: 0;
}

.command-manager > * {
	margin: 2px;
}

.command-manager input {
	color: black;
}

.clear {
	display: inline;
	color: red;
}

.low-importance {
	color: #999999; font-size: small; font-style: italic;
}