/*
	1. boîte
	2. bordures
	3. arrière-plan
	4. texte
	5. transformations
	6. transitions
	7. le reste
*/

#sensorPanel {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #e5bdbd;
	border-left: 1px solid #EEE;
	width: 22vw;
	height: 100%;
}

.sensor{
	display: block; margin: 1em; padding: .2em; position: relative; border: 1px solid #DDD; position: relative;
	background-color: white;
}

.sensor li * {
	display: inline-block; margin: 0 1em;
	text-align: left;
}

.sensor .name{
	font-weight: bold;
}

.sensor .sensorPhoneNumber {
	text-align: left;
}

.creator {
	background-color: black;
	border-bottom: 1px solid white;
}

.creator div *{
	display: inline-block;
}

.creator ul *{
	display: inline-block;
	padding: 0.5em;
	text-align: center;
	color: white;
}

.creator li {
	margin: 0;
}

.creator form input {
	color: black;
}

#sensorPanel .creator ul * {
	display: block;
}

.sensor.orphan {
	font-weight: bold;
    color: white;
    background-color: orange;
}

/* Place Selector */

.place-selector{
	position: absolute;
}