/*
	1. boîte
	2. bordures
	3. arrière-plan
	4. texte
	5. transformations
	6. transitions
	7. le reste
*/

#sensorPanel {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #cfea99;
	border-left: 1px solid #EEE;
	width: 22vw;
	height: 100%;
}

.sensor{
	display: block; margin: 1em; padding: .2em; position: relative; border: 1px solid #DDD; position: relative;
	background-color: white;
}

.sensor li {
	margin: 0 1em;
	text-align: left;
}

.sensor .name{
	font-weight: bold;
}

.sensor .sensorPhoneNumber {
	text-align: left;
}

#sensorPanel .creator ul * {
	display: block;
}

.sensor.orphan {
	font-weight: bold;
    color: white;
    background-color: orange;
}

/* Place Selector */

/*.place-picker{
	position: absolute; background-color: white;
	z-index: 3;
}

.place-picker * {
	display: block;
	color: black;
}*/