/*
// 1. boîte
// 2. bordures
// 3. arrière-plan
// 4. texte
// 5. transformations
// 6. transitions
// 7. le reste
*/

.place{
	display: inline-block; margin: 1em; padding: .5em; width: 30%;
	border: 1px solid orange; border-radius: 5px;
	background-color: white;
}

.place .placeName {
	display: block; width: 100%; margin: 0 auto;
	font-weight: bold; font-size: 1.5em;
}

.place div{
	display: inline-block; margin: 0 1em;
}

.place li * {
	display: inline-block; margin: 0 1em;
}

.place.updating {
	background-color: red;
	transition: background-color 1s;
}

.modifiable {
	cursor: pointer;
	transition: all 0.30s ease-in-out;
}

.modifiable.clicked{
	padding: 0;
	border: none; outline: 1px solid rgba(81, 203, 238, 1);
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	cursor: default;
}

.modifiable:focus{
	outline-offset: 0;
}

li .modifiable{
	width: 20%;
}

.modifiable.updating {
	color: orange;
}

.sensorName.modifiable.updating {
	color: green;
}

.sensorPhone_number.modifiable.updating {
	color: green;
}
/* quipu status */

.place.updating {
	background-color: red;
	transition: background-color 1s;
}

.ant{
	display: inline-block; margin: 1em; padding: .5em; position: relative;
	border: 1px solid green; border-radius: 5px;
	background-color: white;
}

.ant.sensorName {
	font-weight: bold;
}

.ant.uninitialized .quipu {
	color: orange;
}

.ant.initialized .quipu {
	color: black;
}

.ant.3Gconnected .quipu {
	color: green;
}

.ant.tunnelling .quipu {
	color: blue;
}

/* 6sense status */

.ant.sleeping .6sense {
	color: #DDD;
}

.ant.monitoring .6sense {
	color: #888;
}

.ant.recording .6sense {
	color: black;
}

.selector {
	position: absolute; top: .5em; right: .5em;
}
.selector div{
	margin: 0 auto;
	padding: 0;
	text-align:center;
}

.selector .display_sensor_id {
	cursor: pointer;
	transition: all 0.30s ease-in-out;
	background:#bfd70e;
	border-radius:50%;
	width:2em;
	height:2em;
	border:2px solid #679403;
	box-shadow: 1px 1px 1px black;
	font: bold;
	color: white;

}

.display_sensor_id ul {
	margin: 0;
	padding: 0;
	background: #bfd70e;
	border:2px solid #679403; 
	border-radius: 1em;
}

.display_sensor_id li {
	margin: 0 0.5em;
}

.placeOrphan{
	display: inline-block; margin: 1em; padding: .5em; width: 30%;
	border: 1px solid red; border-radius: 5px;
	background-color: white;
}

.placeOrphan .placeOrphanName {
	display: block; width: 100%; margin: 0 auto;
	font-weight: bold; font-size: 1.5em;
}

.placeOrphan div{
	display: inline-block; margin: 0 1em;
}

.placeOrphan li * {
	display: inline-block; margin: 0 1em;
}