#panel {
	position: fixed; bottom: -47vh; right: 0; left: 0;

	background-color: white; opacity: 0.7;
	height: 50vh;
    
    z-index: 10;
    transition: bottom .5s ease-in-out;
}

#panel.open {
	bottom: 0;
	transition: bottom .5s ease-in-out;

	overflow-x: scroll;
}

#close-button {
	display: block; position: absolute; top: 5px; right: 5px; width: 14px; height: 14px;
	border-radius: 50%;
	background-color: green;
	cursor: pointer;
}	

#panel.open #close-button{
	background-color: red;
}

#panel h1 {
	width: 100%; margin: 0;
	font-size: 1.3em; text-align: center;
}

#panel h2 {
	display: inline-block; margin: .4em 1em;
	font-size: 1em;
}

#detail {
	height: 40%;
}

.line-chart{
	position: absolute; width: 90%; margin: 0 1em;
	/*right: 0.3em;*/
	margin-top: 1em;
	margin-right: 0px;
}

.line-chart div {
	width: 100%; height: 100px;
}

#recyclingCenter-name {
	text-align: center;
	margin-top: 2em;
	font-size: 1em;
}

.recyclingCenter-icon {
	display: inline;
	margin: 0 0.5em;
	font-size: 1em;
}

/* LOGO */

#logo{
	/*position: absolute;*/
	/*bottom: 2em;*/
	margin: 0 auto;
	width: 3em;
}

#logomap{
	position: absolute;
	background-color: white;
	opacity: 0.7;
	width: 6em;
	bottom: 0.5em;
	left: 0.5em;
	z-index: 1;
}
