.place{
	/*background-color: white;*/
    /*font-size: 2em;*/
    /*fill: black;*/
    fill-opacity: 0.7;
    stroke: hsl(155, 100%, 0%);
    stroke-opacity: 1;
    stroke-width: 1;
}

.halo{
	stroke-width: 0; stroke-opacity: 0; stroke: hsl(155, 100%, 0%);
	fill: black; fill-opacity: 0;
	transition: fill-opacity 2s;
}

.halo.updating{
	stroke-width: 3; stroke-opacity: 1; stroke: red;
}

.place.selected{
	stroke: hsl(0, 100%, 100%);
	stroke-width: 2;
}

.place.updating {
	stroke-width: 3; stroke-opacity: 1; stroke: red;
}

.placeName{
	display: block; padding: 5px; background-color: rgba(0,0,0, 0.5); white-space: nowrap; border-radius: 5px;
	color: 	#DDD;
}

.placeName.updating{
	color: red;
}

.placeName.selected{
	text-decoration: underline;
}

