/*
// 1. boîte
// 2. bordures
// 3. arrière-plan
// 4. texte
// 5. transformations
// 6. transitions
// 7. le reste
*/

.ant{
	display: inline-block; margin: 1em; padding: .5em;
	border: 1px solid black; border-radius: 5px;
	background-color: white;
}

.ant li * {
	display: inline-block; margin: 0 1em;
}

.ant ul ul {
	margin-left: 1em;
}

.ant.updating {
	background-color: red;
	transition: background-color 1s;
}

.modifiable {
	cursor: pointer;
	transition: all 0.30s ease-in-out;
}

.modifiable.clicked{
	padding: 0;
	border: none; outline: 1px solid rgba(81, 203, 238, 1);
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	cursor: default;
}

.modifiable:focus{
	outline-offset: 0;
}

/* quipu status */

.ant.uninitialized .quipu {
	color: orange;
}

.ant.initialized .quipu {
	color: black;
}

.ant.3Gconnected .quipu {
	color: green;
}

.ant.tunnelling .quipu {
	color: blue;
}

/* 6sense status */

.ant.sleeping .6sense {
	color: #DDD;
}

.ant.monitoring .6sense {
	color: #888;
}

.ant.recording .6sense {
	color: black;
}
