body{
	background-color: white; /*WhiteSmoke*/
    max-width: 500px;
    font-family: Lato, sans-serif;
}

button a{
	color: white;
	text-decoration: none;
}
.open { color: green; font-size: 15px;}
.closed { color: red; font-size: 15px;}
.star { color: gold; }
.no-star { color: lightgray; }
.clickable { cursor: pointer;}
.styleRow {
	padding: 0 15px;
}
.pull-left{
	float: left;
}.pull-right{
	float: right;
}
.noRef{
	color:inherit;	
}

#map{
	height: 90%;
	position: relative;*/
}
#popup {
	background-color: rgba(255,255,255,0.9);
	bottom: 0px;
	padding: 15px;
	position: absolute;
	width: 100%;
	max-width: 500px;
}
#sheet{
	position: absolute;
	width: 100%;
	max-width: 500px;	
	height: 100%;
	margin: 0 auto;
	text-align: center;
}

#detail{
	padding: 15px;
}
#groupSort {
	margin-bottom: 20px; 
}
#nbResults{
	background-color: white;
	margin: 0 auto;
	height: 40px;
	padding: 10px;
	text-align: center;
	display: block;
}

#accessTime{
	background-image: url("../img/access_time.svg");
	background-size: 100px 100px;
	background-repeat: no-repeat;
	background-position: right top;
}

#address{
	background-image: url("../img/gps_fixed.svg");
	background-size: 100px 100px;
	background-repeat: no-repeat;
	background-position: right top;
}

#allowedObjects{
	width: 100%;
	text-align: left;
	height: 300px;
	overflow:auto;
	padding: 0px;
}
#allowedObjects li{
	list-style-type: none;
	margin: 5px;
	display: inline-block;
	padding: 5px;
	background-color: #cfd8dc;
	border: 1px solid black;
	border-radius: 5px;
}
#traffic {
	text-align: center;
	vertical-align: text-top;
}

.flatIcon,
.flatIcon:hover {
	margin: 0px;
	padding: 0px;
	min-width: 0px !important;
}

#tsChart {
	text-align: center;
	vertical-align: text-top;
}